<section class="property-binding">
  <!--  <article>
        <h3>Interpolation</h3>
        <p>Usando interpolação: {{ url }}</p>
        <p>Interpolação 1+1= {{ 1 + 1 }}</p>
        <p>Resultado de 1+1 != {{ 1 + 1 + getValor() }}</p>
        <p>Você esta {{ getCurtirCurso() }} o curso</p>
    </article>
    <article>
        <h3>property Binding</h3>
        <img src="{{urlImagem}}"/><br/>
        <img [src]="urlImagem"/><br/>
        <img bind-src="urlImagem"/><br/>
    </article> -->
    <!-- <article>
        <h3>Class e Style Binding</h3>
        <div >
            Selecione uma classe:
            <select #classe (change)="0" >
               <option value="alert-success">Sucesso</option>
               <option value="alert-info">Info</option>
               <option value="alert-warning">Alerta</option>
               <option value="alert-danger">Erro</option>
            </select><br>
        
            <div class="alert {{classe.value}}" >
               Cor da classe escolhida
            </div>
            <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
            Sucesso
        </div>
            <div class="alert" role="alert"
            [class.alert-info]="classe.value=='alert-info'">
            Info
        </div>
            <div class="alert" role="alert"
            [class.alert-warning]="classe.value=='alert-warning'">
            Alerta
        </div>
            <div class="alert" role="alert"
            [class.alert-danger]="classe.value=='alert-danger'">
            Erro
        </div>
        <div class="alert alert-danger" role="alert"
            [style.display]="classe.value== 'alert-danger' ? 'block' : 'none'">
            Parace so com erro
        </div>
    </div>
    </article>
-->
<!--
    <article>
        <h3> Event Binding</h3>
        <div>
            <button (click)="botaoClicado()"
            class="btn btn-primary">Me clique!</button>
            <br><br>

            <input type="text" 
            (keyup)="onKeyUp($event)"
            (keyup.enter)="salvarValor($event.target.value)"
            (blur)="salvarValor(campoInput.value)"
            #campoInput
            />
            <p>valor atual: {{valorAtual}}</p>
            <p>valor salvo: {{valorSalvo}}</p>
            <br>
            <span
               (mouseover)="onMouseOverOut()" 
               (mouseout)="onMouseOverOut()" 
               [class.highlight]="mouse">
            Passe o mouse aqui
            </span>

        </div>
    </article>
     -->
     <article>
         <div>
            <input type="text" 
            [value]="nome"
            (input)="nome = $event.target.value"
            />
            <input type="text" 
            [ngModel]="nome"
            (ngModelChange)="nome = $event"
            />
            <input type="text" 
            [(ngModel)]="nome"         
            />
            <p>Você digitou: {{nome}}</p>
            <br>
            <p>Dados Pessoais</p>

            <p>Nome: <input type="text" [(ngModel)]="pessoa.nome"/></p>

            <p>Idade: <input type="text" [(ngModel)]="pessoa.idade"/></p>
            <p>Seu nome: {{pessoa.nome}}<br>
            Sua idade: {{pessoa.idade}}</p>
         </div>
     </article>





   <!--
    <app-data-numeros>
        
    </app-data-numeros>
    -->
</section>
